# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# 機密ファイル
*.p12
*.mobileprovision
GoogleService-Info.plist

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
