<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.yosuke.WasurenboAlarm</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wasurenboalarm</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>声で予定やアラームを追加するために、マイクを使用します。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>話した内容を文字に変換して、予定を自動で登録するために使用します。</string>
	<key>NSCalendarsUsageDescription</key>
	<string>アラームの予定をカレンダーに保存・管理するために使用します。</string>
	<key>NSSiriUsageDescription</key>
	<string>声で予定を追加したり、アラームを管理するために使用します。</string>
	<key>NSAlarmKitUsageDescription</key>
	<string>マナーモードを貫通するネイティブのアラームを設定するために使用します。</string>
	<key>NSSupportsAlarmKit</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
